/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
       font-family: "Edu TAS Beginner", cursive;
       background-image: url(../img/cork.png);
}


/* CUSTOM PROPERTIES */
:root {
    --num-column: 1;
    --g-size: 20px;
}

/* layout */
.container {
    width: 60%;
    max-width: 1080px;
    margin: 0 auto;
}

/* utilies */
.b-white {
    background-color: white;
}

.p-7-12 {
    padding: 7px 12px;
}

.py-35 {
    padding: 35px 0;
}

.py-5 {
    padding: 5px 0;
}

.mt-15 {
    margin-top: 15px ;
}

.mt-30 {
    margin-bottom: 30px ;
}





/* Griglia */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--g-size);
}

.col {
    width: calc((100% - (var(--g-size) * (var(--num-column) - 1))) / var(--num-column));
    text-align: center;
}

/* posizionamento testo */
.text-center {
    text-align: center;
}

.text-start {
    text-align: left;
}

.text-end {
    text-align: right;
}

/* flexbox */
.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

/* justify */
.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}


/* align */
.align-center {
    align-items: center;
}

.align-between {
    justify-content: space-between;
}

.align-around {
    justify-content: space-around;
}

.align-evenly {
    justify-content: space-evenly;
}


/* HEADER */

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 10px;
    min-height: 100px;
    background-image: url(../img/wall.png);
}

.header h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
 
}


/* MAIN */

.card {
    position: relative;
    padding: 12px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.card:hover {
    position: relative;
    transform: rotate(20deg);
    z-index: 1;
    cursor: pointer;
    box-shadow: 11px 5px 4px 2px rgba(0, 0, 0, 0.5);
}

.card:hover .pin{
  display: none;
}



.card .pin {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
}

.card figure .date {
     font-family: "Sometype Mono", monospace;
}


/* OVERLAY */
.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.71);
    width: 100vw;
    height: 100vh;
    z-index: 999999;
}

.overlay img {
    height: min(80vh, 90vmin);
    object-fit: cover;
    border-radius: 8px; 
    
}

.overlay button {
  cursor: pointer;
  border-radius: 8px;
    
}

.overlay.d-none {
    display: none;
}









